@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir-Book.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir-Heavy.ttf);
  font-weight: 800;
}

.form {
  width: 100%;
}

.form--big {
  height: 70px;
}

.form--small {
  height: 42px;
}

.form__search {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  background-color: #fff;
  background-image: url('./images/Search.svg');
  background-repeat: no-repeat;
  border: 1px solid #e1e7ed;
  box-shadow: 0 1px 8px 0 #3d4e611a;
  border-radius: 4px;
  color: #3d4e61;
  font-family: Avenir, sans-serif;
  font-weight: 300;
}

.form__search--big {
  padding-left: 62px;
  background-size: 19px 19px;
  background-position: 26px center;
  font-size: 16px;
  line-height: 22px;
}

.form__search--small {
  padding-left: 33px;
  background-size: 11px 11px;
  background-position: 13px center;
  font-size: 14px;
  line-height: 19px;
}

.form__search::placeholder {
  color: #3d4e61;
}

.form__search:hover {
  box-shadow: 0 3px 8px 0 #3d4e6133;
}

.form__search:focus {
  outline: none;
  font-weight: 800;
}
