/* add styles here */
.page__body {
    font-weight: 300;
    margin: 0;
}

.search-bars {
    display: flex;
    flex-direction: column;
}

.search-bars__input {
    width: 90%;
    background-image: url('./images/Search.svg'); 
    background-repeat: no-repeat;
}

.search-bars__input--top {
    margin-top: 20px;
    height: 70px;
    border-radius: 4px;
    border-width: 1px;
    
    background-position: 25px center;
    background-size: 19px;
    padding-left: 62px;
} 

.search-bars__input--bottom {
    margin-top: 50px;
    width: 158px;
    height: 19px;
    top: 12px;
    left: 33px;
    border-radius: 3px;
    border-width: 1px;

    background-position: 14px center;
    background-size: 11px;
    padding-left: 33px;
}