/* add styles here */
.page__body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
}

.search-bars {
  display: flex;
  flex-direction: column;
}

.search-bars__item {
    margin-top: 20px;
}

.search-bars__input {
  width: 99%;
  background-image: url('./images/Search.svg');
  background-repeat: no-repeat;
  border: 1px solid #e1e7ed;
}

.search-bars__input:hover {
  box-shadow: 0 3px 8px 0 #3d4e61;
}

.search-bars__input:focus {
  box-shadow: 0 4px 4px 0 #000;
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
}

.search-bars__input--top {
  height: 65px;
  border-radius: 4px;
  border-width: 1px;

  background-position: 25px center;
  background-size: 19px;
  padding-left: 62px;
}

.search-bars__input--bottom {
  border-radius: 3px;
  border-width: 1px;
  height: 40px;

  background-position: 14px center;
  background-size: 11px;
  padding-left: 33px;
}
