/* add styles here */
@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir.ttc);
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir.ttc);
  font-weight: 800;
}

.page__body {
  margin: 0;
}

.search-bars {
  display: flex;
  flex-direction: column;
}

.search-bars__item {
  margin-top: 20px;
}

.search-bars__input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-image: url('./images/Search.svg');
  background-repeat: no-repeat;
  border: 1px solid #e1e7ed;
  font-family: Avenir, sans-serif;
  font-weight: 300;
}

.search-bars__input:hover {
  box-shadow: 0 3px 8px 0 #3d4e61;
}

.search-bars__input:focus {
  background-color: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  outline: none;
  font-weight: 800;
}

.search-bars__input--top {
  height: 70px;
  border-radius: 4px;
  border-width: 1px;

  background-position: 26px center;
  background-size: 19px 19px;
  padding-left: 62px;
  font-size: 16px;
  line-height: 22px;
}

.search-bars__input--bottom {
  border-radius: 3px;
  border-width: 1px;
  height: 42px;
  font-size: 14px;
  line-height: 19px;

  background-position: 13px center;
  background-size: 11px 11px;
  padding-left: 33px;
}
